body {
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

header h1 {
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

.header_iguana {
  width: 100%;
}
.desc-section {
  padding: 60px 0;
}
.centrado {
  margin: 0 auto;
  width: 75%;
}

.desc-section_texto,
.desc-section_iguana_1 {
  display: inline-block;
  vertical-align: middle;
}

.desc-section_texto {
  width: 50%;
}

.desc-section_iguana_1 {
  width: 40%;
  margin-left: 9%;
}

.centrado h2 {
  font-size: 40px;
}

.centrado article {
  display: inline-block;
  margin: 0 auto;
  font-size: 24px;
  width: 30%;
}
.section_3 {
  padding: 80px 0;
}

.centrado_img {
  width: 30%;
  display: inline-block;
  margin: 0 5px;
}

.centrado_img img {
  width: 100%;
  height: 200px;
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #1e1a13;
}
